*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    word-break: keep-all;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -----header----- */

html, body{
    overflow-x :  hidden;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid transparent;
}

.nav_box{
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 1050px;
}

.logo{
    display: flex;
}

.logo a{
    display: flex;
}

.logo img{
    width: 75px;
}

.nav_menu_box{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}

.download_button1{
    display: none;
    background-color: #3182f6;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    color: #ffffff;
    height:fit-content;
    padding: 0.9rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    border: 0 solid transparent;
}

.nav_menu_box_burger{
    display: none;
    cursor: pointer;
}

.nav_menu_box_burger img{
    width: 2rem;
}

.nav_menu{
    display: flex;
    padding: 0;
    height: 100%;
}

.nav_menu_link{
    display: flex;
    list-style: none;
    height: 100%;
    flex-shrink: 0;
}

.nav_menu_li{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.7rem;
}

.nav_menu_li a{ 
    padding: 0.8rem 0.5rem;
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.nav_menu_li a:hover{
    border-radius: 8px;
    background-color: rgba(162, 162, 162, 0.205);
    cursor: pointer;
}

.nav_lan{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 2rem;
}

.nav_lan_li{
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 60%;
    margin: 0 0.5rem;
    color: rgb(107, 107, 107);
}

.nav_lan_li:hover{
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(162, 162, 162, 0.205);
}

/* -----section_1----- */

.section_base_odd{
    width: 100%;
    position: relative;
    overflow: hidden
}

.section_base_even{
    width: 100%;
    position: relative;
    background-color: #f9fafb;
    overflow: hidden
}

.section_1_image{
    position: relative;
    width: 100%;
    height: 100vh;
}

.section1_bgi{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_1_detail{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1.5s;
}

.section_1_word{
    margin-bottom: 5rem;
}

.section_1_word h1{
    font-size: 4.0rem;
    white-space: pre-line;
    text-align: center;
}

.section_1_storeBox{
    display: flex;
}

.download_button2{
    display: none;
    background-color: #3182f6;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    color: #ffffff;
    height:fit-content;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0 solid transparent;
}

.section_1_storeBtn_1 ,.section_1_storeBtn_2{
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 12, 30, 0.8);
    text-decoration: none;
    display: flex;
    transition: all 0.4s;
}

.section_1_storeBtn_1:hover ,.section_1_storeBtn_2:hover{
    background-color: rgba(50, 50, 50, 0.755);
}

.section_1_storeBtn_1{
    margin-right: 0.3rem;
}

.section_1_storeBtn_logo{
    margin-right: 0.5rem;
}

.section_1_storeBtn_name{
    color: white;
    font-size: 1.3rem;
}

.section_1_downTab{
    position: absolute;
    bottom: 3rem;
    animation: move 3s infinite;
    cursor: pointer;
}

@keyframes move {
    0%{
        bottom: 3rem;
        opacity: 0;
    }
    30%{
        bottom: 1rem;
        opacity: 1;
    }
    50%{
        bottom: 2rem;
        opacity: 1;
    }
    70%{
        bottom: 1rem;
        opacity: 1;
    }
    100%{
        bottom: 3rem;
        opacity: 0;
    }
    
}

.section_1_downTab a{
    padding: 2rem 2rem; 
}

/* -----section_2----- */

.section_2_detail{
    width: 100%;
    padding: 16rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_2_word{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    white-space: pre-line;
    text-align: center;
}

/* -----section_3----- */

.section_container_padding{
    position: relative;
    padding: 12rem 0;
    margin: auto;
    max-width: 1140px;
}

.section_container_margin{
    position: relative;
    margin: auto;
    width: 92%;
}

.section_3_detail{
    position: relative;
    margin: auto;
    height: 90rem;
}

.section_title_word{
    position: relative;
    z-index: 1;
    transform: translateY(50px);
    opacity: 0;
}

.section_title_word h1{
    color: rgb(49, 130, 246);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.section_title_word h2{
    font-size: 3.5rem;
    white-space: pre-line;
    margin-bottom: 8rem;
}

.section_3_image1{
    position: absolute;
    width: 42rem;
    height: auto;
    top: 0;
    right: -10%;
    transform: translateY(50px);
    opacity: 0;
}

.section_3_image1-1{
    position: absolute;
    top: 10%;
    left: 21%;
    width: 58%;
}

.section_3_image1-2{
    position: relative;
    width: 100%;
    height: 100%;
}

.section_3_image2{
    position: absolute;
    width: 42rem;
    height: auto;
    top: 25%;
    left: -10%;
    transform: translateY(50px);
    opacity: 0;
}

.section_3_image2-1{
    position: absolute;
    top: 10%;
    left: 21%;
    width: 58%;
}

.section_3_image2-2{
    position: relative;
    width: 100%;
    height: 100%;
}

.section_3_word2{
    white-space: pre-line;
}

.section_3_word2 p{
    position: absolute;
    bottom: 14rem;
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(51, 61, 75);
}

.section_3_p{
    transform: translateY(50px);
    opacity: 0;
}

/* -----section_4----- */

.section_4_detail{
    position: relative;
    margin: auto;
}

.section_4_box{
    display: flex;
    margin-bottom: 13rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.section_4_box_revers{
    display: flex;
    margin-bottom: 13rem;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.section4_img{
    width: 45%;
    transform: translateY(50px);
    opacity: 0;
}

.section_4_word{
    white-space: pre-line;
    width: 45%;
    transform: translateY(50px);
    opacity: 0;
}

.section_4_word-1{
    color: rgb(49, 130, 246);
    font-size: 1.5rem;
    font-weight: 600;
}

.section_4_word-2{
    color: rgb(51, 61, 75);
    font-size: 2.5rem;
    font-weight: 600;
}

.section_4_word-3{
    color: rgb(107, 118, 132);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
}

/* -----section_5----- */

.section_5_detail{
    position: relative;
    margin: auto;
}

.section_5_word1-1{
    transform: translateY(50px);
    opacity: 0;
}

.section_5_word1-1, .section_5_word1-2, .section_5_word1-3{
    position: relative;
    font-size: 3.5rem;
    color: rgb(51, 61, 75);
    font-weight: 600;
    z-index: 1;
    line-height: 1.5;
}

.section_5_word1-2{
    color: #8b95a1;
}

.section_5_word1-3{
    color: #d1d6db;
}

.section_5_word2{
    white-space: pre-line;
    margin-top: 2rem;
    transform: translateY(50px);
    opacity: 0;
}

.section_5_word2 p{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(51, 61, 75);
    line-height: 1.5;
    z-index: 1;
}

.section_5_image{
    position: absolute;
    width: 42rem;
    height: auto;
    top: 0;
    right: -10%;
    transform: translateY(50px);
    opacity: 0;
}

.section_5_image1-1{
    position: absolute;
    top: 10%;
    left: 21%;
    width: 58%;
}

.section_5_image1-2{
    position: relative;
    width: 100%;
    height: 100%;
}

/* -----section_6----- */

.section_6_box{
    display: flex;
    flex-wrap: wrap;
}

.section_6_box_detail{
    width: calc(50% - 2rem);
    margin-bottom: 10rem;
    margin-right: 2rem;
}

.section6_img{
    width: 9rem;
    margin-bottom: 2rem;
    transform: translateY(50px);
    opacity: 0;
}

.section_6_word{
    transform: translateY(50px);
    opacity: 0;
}

.section_6_word span{
    color: rgb(51, 61, 75);
    font-size: 2rem;
    font-weight: 600;
}

.section_6_word p{
    color: rgb(107, 118, 132);
    font-size: 1.5rem;
    font-weight: 600;
    white-space: pre-line;
    padding-top: 1.5rem;
}

/* -----section_7----- */

.section_7_container{
    position: relative;
    margin-bottom: 2rem;
}

.section_7_word1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 17rem;
    max-width: 80rem;
    z-index: 2;
}

.section_7_word1 p, .section_7_word2 p{
    position: relative;
    white-space: pre-line;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(69, 82, 101);
    line-height: 1.5;
    z-index: 1;
}

.section_7_word1 p{
    max-width: 18rem;
}

.section_7_word2 p{
    text-align: center;
}

.section_7_image{
    position: relative;
    width: 42rem;
    height: auto;
    top: -7rem;
    left: calc((100% - 42rem) / 2);
}

.section_7_image1-1{
    position: absolute;
    top: 10%;
    left: 21%;
    width: 58%;
}

.section_7_image1-2{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section_7_image1-3_box{
    position: absolute;
    top: 44.5rem;
    left: -28rem;
}

.section_7_image1-3{
    display: flex;
    justify-content: space-around;
}

.section_7_image1-3 img{
    width: 13rem;
    margin: 0 0.5rem;
}

/* -----section_8----- */

.section_8_image{
    position: relative;
    width: 100%;
    height: 100vh;
}

.section8_bgi{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_8_detail{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_8_word{
    margin-bottom: 5rem;
}

.section_8_word h1{
    font-size: 4.5rem;
    white-space: pre-line;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

/* -----section_9----- */

.section_9_detail{
    position: relative;
    margin: auto;
}

.section_9_part{
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
    flex: 1;
}

#section_9_part_shrink{
    flex: 2;
    margin-right: 2rem;
}

.section_9_part img{
    margin: 0 auto;
    margin-bottom: 3rem;
    object-fit: contain;
    max-width: 763px;
    width: 100%;
}

.section_9_part1_word{
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
}

.section_9_part h2, .section_9_part span{
    font-size: 2.5rem;
    color: #191f28;
    font-weight: 600;
    line-height: 1.5;
}

.section_9_part h2{
    margin-right: 1rem;
}

.section_9_part span{
    color: #b0b8c1;
    white-space: pre-line;
}

.section_9_part p{
    font-size: 1.2rem;
    font-weight: 600;
    white-space: pre-line;
    line-height: 1.5;
    color: #333d4b;;
}

.section_9_part_container{
    display: flex;
}

.section_9_part2_word{
    display: flex;
    flex-direction: column;
}

.section_9_part4_word{
    width: 50%;
}

/* -----section_10----- */

.section_10_detail{
    position: relative;
    margin: auto;
}

.section_10_container{
    display: flex;
    flex-wrap: wrap;
}

.section_10_box{
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem 0;
    width: 100%;
    max-width: 31rem;
}

.section_10_box img{
    width: 120px;
    margin-bottom: 2rem;
}

.section_10_box span{
    font-size: 1.3rem;
    font-weight: 600;
    color: #333d4b;
    margin-bottom: 1rem;
}

.section_10_box p{
    white-space: pre-line;
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8b95a1;
}

/* -----section_11----- */

.section_11_base{
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.section_11_base img{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.section_11_title_word h1, .section_11_title_word p{
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.section_11_title_word h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section_11_title_word p{
    white-space: pre-line;
    font-size: 2rem;
    color: #b0b8c1;
    margin-bottom: 15rem;
}

.section_11_container{
    display: flex;
}

.section_11_box{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 1rem 0 0;
}

.section_11_box span, .section_11_box p{
    font-weight: 600;
    line-height: 1.5;
}

.section_11_box span{
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.section_11_box p{
    font-size: 1.3rem;
    color: #b0b8c1;
    white-space: pre-line;
    margin-bottom: 3rem;
}

.section_11_box a{
    padding: 0.8rem 1rem;
    width: fit-content;
    border-radius: 5px;
    background-color: #3182f6;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

/* -----footer----- */

.footer_base{
    width: 100%;
    padding: 4rem 0 8rem 0;
    background-color:#191f28;
}

.footer_container{
    padding: 0 5rem 0 5rem;
    margin: auto;
    max-width: 1050px;
    box-sizing: border-box;
}

.footer_container a:hover{
    text-decoration: underline;
}

.footer_nav1{
    display: flex;
    margin-bottom: 4rem;
}

.footer_nav1 ul{
    color: #b0b8c1;
    font-weight: 600;
    width: 100%;
    flex: 1;
    line-height: 2;
}

#footer_shrink{
    flex: 2;
}

.footer_nav1 li{
    font-weight: 300;
    list-style: none;
}

.footer_nav1 a{
    display: block;
    text-decoration: none;
    color: #6b7684;
 
}

.footer_address{
    display: flex;
    flex-direction: column;
    font-style: normal;
    white-space: pre-line;
    color: #8b95a1;
    font-size: 0.9rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.footer_address strong{
    color: #b0b8c1;
}

.footer_address a{
    display: contents;
    text-decoration: none;
    color: #6b7684;
    font-size: 0.9rem;
}

.footer_nav2_box{
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 2rem;
    row-gap: 0.5rem;
} 

.footer_nav2 li{
    list-style: none;
}

.footer_nav2 a{
    text-decoration: none;
    color: #6b7684;
    font-size: 0.9rem;
}

.footer_nav3{
    margin-top: 4rem;
}

.footer_nav3 ul{
    display: flex;
}

.footer_nav3 li{
    list-style: none;
    padding-right: 1rem;
    opacity: 0.5;
}

.footer_nav3 li:hover{
    opacity: 1;
}

.scroll_action{
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
